@import '../../assets/css/colors';

.main-nav{

    display: flex;
    justify-content: flex-end;  
     

    li{
        display: inline-block;
        margin: 0 28px;

        a{
            text-decoration: none;
            text-transform: uppercase;
            color: $color;
        }
    }
   
}
